@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Plain Fits</h1>
    <p>White, red, blue, black. We have them all!</p>
</div>

<body>
    <article>
        <img src="Images/whiteTee.jpg" alt="White Tee" />
    </article>
    <h4>Click <a href="">here</a> for shirts!</h4>
</body>
